.randomGen{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.randomGen__result{
    font-size: 5em;
    color: white;
    font-family: Arial;
    margin: 30px auto;
}

.randomGen__change{
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
    width: 100%;

}

.randomGen__input{
    height: 40px;
    width: 80px;
    font-size: 26px;
    border-radius: 5px;
    border: 0px solid red;
    text-align: center;
}

.randomGen__descInput{
    color: white;
    font-size: 30px;
    line-height: 1.2;
    margin: 0 10px 0 0;
}

.randomGen__cntInput{
    display: flex;
    flex-direction: row;
}

